
        QuickShiftMobile/node_modules/@babel/plugin-transform-template-literals/
        QuickShiftMobile/node_modules/@babel/preset-typescript/
        QuickShiftMobile/node_modules/@egjs/
        QuickShiftMobile/node_modules/@react-native-async-storage/
        QuickShiftMobile/node_modules/@react-native-picker/
        QuickShiftMobile/node_modules/@react-navigation/bottom-tabs/
        QuickShiftMobile/node_modules/@react-navigation/elements/
        QuickShiftMobile/node_modules/@react-navigation/stack/
        QuickShiftMobile/node_modules/@types/hammerjs/
        QuickShiftMobile/node_modules/color-string/
        QuickShiftMobile/node_modules/color/
        QuickShiftMobile/node_modules/hoist-non-react-statics/
        QuickShiftMobile/node_modules/is-plain-obj/
        QuickShiftMobile/node_modules/lodash.isequal/
        QuickShiftMobile/node_modules/lodash.isobject/
        QuickShiftMobile/node_modules/merge-options/
        QuickShiftMobile/node_modules/react-native-gesture-handler/
        QuickShiftMobile/node_modules/react-native-picker-select/
        QuickShiftMobile/node_modules/react-native-reanimated/
        QuickShiftMobile/node_modules/react-native-worklets/
        QuickShiftMobile/node_modules
